<?xml version="1.0" ?>
<launch>



    <param name="robot_description" command="$(find xacro)/xacro.py '$(find chapter5_tutorials)/mpo_700/mpo_700.urdf.xacro'" />
  <!--<arg name="model" />
    <param name="robot_description" command="$(find xacro)/xacro.py  $(arg model)" />-->

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="false" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chapter5_tutorials)/mpo_700/mpo_700_config.rviz" />
</launch>


<!--

roslaunch chapter5_tutorials mpo_700_display.launch

-->
