<?xml version="1.0"?>
<launch>
	<arg name="model" />
	<!--arg name="model" default=" ../urdf/robot1.urdf "/-->
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)"/>
	<!--param name="robot_description" textfile="-d $(rospack find robot1_description)/urdf/robot1.urdf" /-->
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" /-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot1_description)/urdf.rviz" />
</launch>


<!-- 

roslaunch robot1_description display.launch  model:=" /home/lichunhong/Documents/src/effective_robotics_programming_with_ros-master
/catkin_ws/src/chapter4_tutorials/robot1_description/urdf/robot1.urdf"


/home/lichunhong  cannot be replace by ~  ?
 -->

 